@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  /* background-color: rgb(255, 255, 255);
  height: 100px; */
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  width: 0px;
  border-radius: 10px;
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  /* border: 1px solid rgba(255, 255, 255, 0.151); */
}

nav {
  background: rgba(253, 253, 253, 0.845);
  color: black;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}
section {
  /* margin-top: 100px; */
  padding-inline: 50px !important;
}
